.operator {
    background-color: orange;
    color: white;
    border-color: black !important;
}

.number {
    background-color: rgb(63, 63, 63);
    color: white;
    border-color: black !important;
}

.other {
    background-color: gray;
    color: black;
}

body{
    background-color: black;
}